html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: sans-serif;
  background: #f8f8f8;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
  overflow: hidden;
}

body>header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 24px;
  background: #444;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

body>header>a {
  padding: 0 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#list {
  width: 30%;
  min-width: 300px;
  max-width: 600px;
}

.job-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  -webkit-user-select: none;
  -moz-user-select: none;
  overflow-y: auto;
}

.job-list::-webkit-scrollbar {
  display: none;
}

.job > .job-list {
  margin-left: 1.5em;
}

.job {
  flex: 0 0 auto;
}

.job>header {
  padding: 1em;
  background: #dcdcdc;
  position: relative;
  border-bottom: 1px solid #aaa;
  transition: background-color 0.5s;
}

.job[data-status=waiting]>header {
  background: #dcdcdc;
}

.job[data-status=running]>header {
  background: #b9c9ff;
}

.job[data-status=abort]>header {
  background: #ffe2b9;
}

.job[data-status=fail]>header {
  background: #ffb9b9;
}

.job[data-status=success]>header {
  background: #b9ffc1;
}

.job.selected>header:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 4px;
  width: 0px;
  height: 0px;
  border-right: 20px solid #333;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
}

#info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background: #333;
  color: white;
}

#title {
  padding: 16px;
  font-family: monospace;
  font-size: 24px;
}

#log {
  flex: 1 1 auto;
  padding: 16px;
  font-family: monospace;
  font-size: 16px;
  overflow-y: auto;
}

#log pre {
  whitespace: pre-wrap;
}

/* Color scheme from travis-ci */
.ansi .bold { font-weight: bold; }
.ansi .italic { font-style: italic; }
.ansi .black { color: #4e4e4e; }
.ansi .black.bold { color: #7c7c7c; }
.ansi .red { color: #ff6c60; }
.ansi .red.bold { color: #ffb6b0; }
.ansi .green { color: #a8ff60; }
.ansi .green.bold { color: #ceffab; }
.ansi .yellow { color: #ffffb6; }
.ansi .yellow.bold { color: #ffffcb; }
.ansi .blue { color: #96cbfe; }
.ansi .blue.bold { color: #b5dcfe; }
.ansi .magenta { color: #ff73fd; }
.ansi .magenta.bold { color: #ff9cfe; }
.ansi .cyan { color: #c6c5fe; }
.ansi .cyan { color: #dfdffe; }
.ansi .white { color: #eeeeee; }
.ansi .white.bold { color: white; }
.ansi .bg-black { background-color: #4e4e4e; }
.ansi .bg-red { background-color: #ff6c60; }
.ansi .bg-green { background-color: #a8ff60; }
.ansi .bg-yellow { background-color: #ffffb6; }
.ansi .bg-blue { background-color: #96cbfe; }
.ansi .bg-magenta { background-color: #ff73fd; }
.ansi .bg-cyan { background-color: #c6c5fe; }
.ansi .bg-white { background-color: #eeeeee; }
